body {
    background-image: url('../img/fondo.jpg');
    background-size: 100%;
}

div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

h1 {
    text-align: center;
}

table {   
    background-color: #3500A6;
    color: white;
    font-weight: bold;
    padding: 3%;
    border-radius: 5%;
}

td {
    padding-top: 2%;
}

img {
    width: 20%;
}

.imagen {
    text-align: center;
}
