header {
  display: flex;
  align-items: center;
  background-color: rgb(44, 46, 83);
  height: 88px;
  color: white;
  justify-content: space-between;
}

#logo {
  height: 80px;
  width: 91px;
  margin-left: 2%;
}

.header {
  display: flex;
  align-items: center;
  width: 300px;
}

.usuario {
  display: flex;
  align-items: center;
  width: 180px;
  justify-content: space-between;
  margin-left: 2%;
  text-decoration: none;
  color: white;
}

#titulo {
  font-family: Russo One;
  margin-left: 7%;
}

#username {
  font-size: 15px;
  text-align: right;
  width: 180px;
  margin-right: 5%;
}

#fotoperfil {
  width: 48px;
  height: 49px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 7%;
}

footer {
  display: grid;
  position: relative;
  background-color: rgb(44, 46, 83);
  height: 88px;
  color: white;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 0;
}

.contacto {
  flex: 1;
  text-align: left;
  width: 40%;
}

.copyright {
  flex: 0;
  text-align: left;
}

/*  LISTAR CURSOS */
.curso-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 10px;
}
.curso-wrapper a {
  text-decoration: none;
}

.curso {
  display: grid;
  place-items: center;
  width: 70%;
  height: 80%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: justify;
}
.curso img {
  width: 60%;
  height: 60%;
}
.curso p {
  margin: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  text-decoration: underline;
}

.home {
  background-color: rgb(44, 46, 83);
  background-size: 100%;
}
.home table {
  margin: 3% 7%;
  font-size: 23px;
  text-align: justify;
  color: white;
}
.home table th {
  font-size: 35px;
  text-align: center;
  padding-bottom: 20px;
}
.home img {
  width: 400px;
}

.admin img {
  width: 30px;
}
.admin .blanco {
  background-color: white;
  font-weight: bold;
}
.admin tr {
  background-color: lightgray;
  text-align: center;
  margin: 1%;
  padding: 1% 5%;
}

.notas {
  display: grid;
  place-items: center;
  width: 25%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 40%;
}

#fotocurso {
  width: 60%;
}

.paginacurso {
  display: grid;
  place-items: center;
  margin-left: 10%;
  width: 80%;
  text-align: justify;
  justify-content: center;
  align-items: center;
}
.paginacurso img {
  width: 50%;
  height: 50%;
}

.botonvercurso {
  margin: 5px;
}

#tablaContainer table {
  border-collapse: collapse;
  width: 70%;
  margin-left: 15%;
  margin-top: 3%;
  margin-bottom: 3%;
}
#tablaContainer thead {
  background-color: rgb(44, 46, 83);
  color: white;
  font-weight: bold;
  text-align: center;
}
#tablaContainer tr {
  height: 20px;
}
#tablaContainer tr:nth-child(even) {
  background-color: rgb(226, 226, 226);
}
#tablaContainer th, #tablaContainer td {
  width: 14.28%;
  padding: 15px;
}

.menu {
  display: grid;
  place-items: center;
  width: 90%;
  height: 80%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: justify;
  background-color: lightgray;
}
.menu img {
  width: 60%;
  height: 60%;
}
.menu h1 {
  color: black;
}

.menu:hover {
  background-color: rgb(170, 170, 170);
}

.bienvenida {
  position: relative;
}

.FotoBienvenida {
  position: relative;
}
.FotoBienvenida h1 {
  width: 98vh;
  height: 60vh;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 90px;
  color: white;
  align-items: center;
}
.FotoBienvenida img {
  width: 98vw;
  height: 60vh;
  margin-top: 5px;
}/*# sourceMappingURL=styles.css.map */