header {
    display: flex;
    background-color: #3500A6;
    height: 88px;
    color: white;
    align-items: center;
    justify-content: space-between;
}
#logo {
    height: 80px;
    width: 91px;
    margin-left: 2%;
    
}
.header{
    display: flex;
    align-items: center;
    width: 300px;
}
.usuario{
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: space-between;
    margin-left: 2%;
}
#titulo {
    font-family: Russo One;
    margin-left: 7%px;
    
}
#username {
    font-size: 15px;
    text-align: right;
    width: 180px;
    margin-right: 5%;

}
#fotoperfil {
    width: 48px;
    height: 49px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 7%;
}
footer{
    display: flex;
    position: relative;
    background-color: #3500A6;
    height: 88px;
    color: white;

    justify-content: space-between;
    text-align: center;
}
.contacto{
    flex: 1;
    text-align: left;
    width: 40%;
}
.copyright{
    flex: 0;
    text-align: left;
}
/*  LISTAR CURSOS */ 
.curso-wrapper {
    display: grid;              
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); 
    gap: 10px;                 
}

.curso {
    width: 100%;                
    margin: 10px;               
    padding: 10px;              
    border: 1px solid #ccc;     
    box-sizing: border-box;     
}