@import "variables.scss";
@import "mixins.scss";

header {
    @include flex-center;
    background-color: $color-primary;
    height: 88px;
    color: white;
    justify-content: space-between;
}

#logo {
    height: 80px;
    width: 91px;
    margin-left: 2%;
}

.header{
    @include flex-center;
    width: 300px;
}

.usuario{
    @include flex-center;
    width: 180px;
    justify-content: space-between;
    margin-left: 2%;
    text-decoration: none;
    color: white;
}

#titulo {
    font-family: $font-family;
    margin-left: 7%;
    
}

#username {
    font-size: 15px;
    text-align: right;
    width: 180px;
    margin-right: 5%;

}

#fotoperfil {
    width: 48px;
    height: 49px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 7%;
}

footer{
    display: grid;
    position: relative;
    background-color: $color-primary;
    height: 88px;
    color: white;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 0;
}

.contacto{
    flex: 1;
    text-align: left;
    width: 40%;
}

.copyright{
    flex: 0;
    text-align: left;
}

/*  LISTAR CURSOS */ 
.curso-wrapper {
    // @include center-element;
    display: grid;              
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); 
    gap: 10px;
    a {
        text-decoration: none;
    }                
}

// .curso {
//     @include centrar;
//     width: 70%;                
//     margin: 10px;               
//     padding: 10px;              
//     border: 1px solid #ccc;        
//     width: 70%;
//     height: 80%;
//     margin: 10px;
//     padding: 10px;
//     border: 1px solid #ccc;
//     text-align: justify;
// }

.curso {
    display: grid;
    place-items: center;
    width: 70%;
    height: 80%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: justify;
    img {
        width: 60%;
        height: 60%;
      }
    p{
        margin: 5px;
    }
}

nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
            margin-right: 20px;
            a {
                text-decoration: none;
                color: white;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }  
}

.home {
    background-color: $color-primary;
    background-size: 100%;

    table {
        margin: 3% 7%;
        font-size: 23px;
        text-align: justify;
        color: white;
        th{
            font-size: 35px;
            text-align: center;
            padding-bottom:  20px;
        }
    }

    img {
        width: 400px;
    }
}

//No implementado aun
.admin {
    img {
        width: 30px;
    }

    .blanco {
        background-color: white;
        font-weight: bold;
    }

    tr {
        background-color: lightgray;
        text-align: center;
        margin: 1%;
        padding: 1% 5%;
    }
}

//PARTE PROFES
.notas{
    @include centrar;
    width: 25%;                
    margin: 10px;               
    padding: 10px;              
    border: 1px solid #ccc;     
    box-sizing: border-box;
    margin-left: 40%;
}

#fotocurso {
    width: 60%;
}

.paginacurso{
    @include centrar;
    margin-left: 10%;
    width: 80%;
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    img{
        width: 600px;
        height: 250px;
        padding-bottom: 15px;
    }
}
.botonvercurso{
    margin: 5px;
}

#tablaContainer {
    table {
        border-collapse: collapse;
        width: 70%;
        margin-left: 15%;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    thead {
        background-color: $color-primary;
        color: white;
        font-weight: bold;
        text-align: center;
        // border-bottom: solid 5px #4900e7;
    }

    tr {
        height: 20px;
    }

    tr:nth-child(even) {
        background-color: rgb(226, 226, 226);
    }

    th, td {
        width: 14.28%; //Es tan exacto porque hay 7 columnas
        padding: 15px;
    }
}

// .pie {
//     position: absolute;
//     bottom: 0;
//     width: 99%;
// }

.menu {
    display: grid;
    place-items: center;
    width: 90%;
    height: 80%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: justify;
    background-color: lightgray;
    img {
        width: 60%;
        height: 60%;
    }
    h1 {
        color: black;
    }
}

.menu:hover {
    background-color: rgb(170, 170, 170);
}

//BIENVENIDA
.bienvenida{
    position: relative;
}
.FotoBienvenida{
    position: relative;
    h1{
        width: 98vh;
        height: 60vh;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        font-size: 90px;
        color: white;
        align-items: center;
    }
    img{
        width: 98vw;
        height: 60vh;
        margin-top: 5px;
    }
}