@import "variables.scss";
@import "mixins.scss";

header {
    @include flex-center;
    background-color: $color-primary;
    height: 88px;
    color: white;
    justify-content: space-between;
}

#logo {
    height: 80px;
    width: 91px;
    margin-left: 2%;
}

.header{
    @include flex-center;
    width: 300px;
}

.usuario{
    @include flex-center;
    width: 180px;
    justify-content: space-between;
    margin-left: 2%;
    text-decoration: none;
    color: white;
}

#titulo {
    font-family: $font-family;
    margin-left: 7%;
    
}

#username {
    font-size: 15px;
    text-align: right;
    width: 180px;
    margin-right: 5%;

}

#fotoperfil {
    width: 48px;
    height: 49px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 7%;
}

footer{
    display: grid;
    position: relative;
    background-color: $color-primary;
    height: 88px;
    color: white;
    justify-content: space-between;
    text-align: center;
}

.contacto{
    flex: 1;
    text-align: left;
    width: 40%;
}

.copyright{
    flex: 0;
    text-align: left;
}

/*  LISTAR CURSOS */ 
.curso-wrapper {
    display: grid;              
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); 
    gap: 10px;                 
}

.curso {
    @include centrar;
    width: 70%;                
    margin: 10px;               
    padding: 10px;              
    border: 1px solid #ccc;     
    box-sizing: border-box;     
}

nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
            margin-right: 20px;
            a {
                text-decoration: none;
                color: white;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }  
}

.home {
    background-image: url('../img/fondo.jpg');
    background-size: 100%;

    table {
        background-color: rgb(53, 0, 166, 0.5);
        margin: 3% 7%;
        font-size: x-large;
        text-align: center;
        color: white;
    }

    img {
        width: 400px;
    }
}

//No implementado aun
.admin {
    img {
        width: 30px;
    }

    .blanco {
        background-color: white;
        font-weight: bold;
    }

    tr {
        background-color: lightgray;
        text-align: center;
        margin: 1%;
        padding: 1% 5%;
    }
}

//PARTE PROFES
.notas{
    @include centrar;
    width: 25%;                
    margin: 10px;               
    padding: 10px;              
    border: 1px solid #ccc;     
    box-sizing: border-box;
    margin-left: 40%;
}

#fotocurso {
    width: 60%;
}

.paginacurso{
    @include centrar;
    margin-left: 10%;
    width: 80%;
    text-align: justify;
    justify-content: center;
    align-items: center;
    img{
        width: 60%;
        height: 60%;
    }
}

#tablaContainer {
    table {
        border-collapse: collapse;
        width: 70%;
        margin-left: 15%;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    thead {
        background-color: $color-primary;
        color: white;
        font-weight: bold;
        text-align: center;
        // border-bottom: solid 5px #4900e7;
    }

    tr {
        height: 20px;
    }

    tr:nth-child(even) {
        background-color: rgb(226, 226, 226);
    }

    th, td {
        width: 14.28%; //Es tan exacto porque hay 7 columnas
        padding: 15px;
    }
}